# Notion integration token (required)
# https://www.notion.so/my-integrations
NOTION_TOKEN=secret_xxx

# TMDB API key (required for movies & tv enrichment)
# https://www.themoviedb.org/settings/api
TMDB_API_KEY=

# RAWG API key (required for video games enrichment)
# https://rawg.io/apidocs
RAWG_API_KEY=

# Setlist.fm API key (required for concerts enrichment)
# https://api.setlist.fm/docs/1.0/index.html
SETLISTFM_API_KEY=
